.about__section__item p i{
    color: #f9a826;
    font-size: 1.1rem;
}

@media only screen and (max-width: 992px) {
    .about__section__content h2{
        font-size: 1.5rem;
    }
    .about__section__item{
        column-gap: 3rem;
    }
    .about__section__item p{
        font-size: .6rem;
        margin-bottom: 10px;
    }
    .about__section__item i{
        font-size: .8rem;
    }
}
@media only screen and (max-width: 768px){
    .about__img{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 576px){
    .about__section{
        margin-top: 370px;
    }
}