.payment label{
    color: #000d6b;
    font-weight: 600;
}


.payment button{
    padding: 8px 15px;
    border-radius: 5px;
    background: #000d6b;
    color: #fff;
    border: none;
    outline: none;
}